<ion-content [fullscreen]="true">
  <div class="center-container">
    <div class="center-div">
      <ion-row class="center"><img src="assets\icon\pitique_white.svg" class="pitique-logo-landing"></ion-row>
      <ion-row class="center">
        <ion-text color="light"> AERIAL PHOTOGRAPHY AND VIDEO</ion-text>
      </ion-row>
      <br><br><br><br><br><br><br><br><br><br><br><br>
      <div class="landing-buttons">
        <ion-row  class="center">
          <ion-button fill="solid" color="light" (click)="navigateLogin()"><b>LOGIN</b></ion-button>
        </ion-row>
        <ion-row class="center">
          <ion-button fill="outline" color="light" (click)="navigateSignup()"><b>SIGN UP</b></ion-button>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>