ion-content{
    --ion-background-color:#26CBDF;
}

.landing-buttons{

    width:100%;
    justify-content: center;
    margin: auto;
}

.landing-buttons ion-button{
    width:90%;
    height:50px;
    --box-shadow:none;
}

.pitique-logo-landing{
    width:150px;
}
