<app-loading *ngIf="isLoading"></app-loading>
<app-sidebar [page]="pageTitle"></app-sidebar>
<div class="ion-page" id="main-content">
  <div class="pitique-header">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <!-- <ion-menu-button></ion-menu-button> -->
          <ion-icon name="chevron-back-outline" class="back-button" (click)="navigateViewPackages()"></ion-icon>

        </ion-buttons>
        <ion-row class="center">
          <ion-title>Add Package</ion-title>
        </ion-row>
      </ion-toolbar>

    </ion-header>
  </div>

  <ion-content class="ion-padding">
    <div class="container-div">
      <div class="left-div"></div>
      <div class="main-div" *ngIf="pitiquerData">
        <form [formGroup]="packageForm">
        <ion-list>
          <ion-item>
            <ion-input
              label="Package name"
              labelPlacement="stacked"
              [clearInput]="true"
              placeholder=""
              formControlName="pkg_name"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input
            type="number"
              label="Price"
              labelPlacement="stacked"
              [clearInput]="true"
              placeholder=""
              formControlName="pkg_min_price"
            >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-textarea formControlName="pkg_desc" label="Description" labelPlacement="stacked" [autoGrow]="true"></ion-textarea>
          </ion-item>
          <br>
            <ion-label><p>Services offered</p></ion-label>
   
      
          <div class="package-services">
            <ion-checkbox class="choices" formControlName="pkg_isphotog" *ngIf="pitiquerData.ptqr_isphotog == 1">
              <div class="choices-content">
                <div class="image">
                  <ion-icon name="camera"></ion-icon>
                </div>
                <div class="text">
                 <h3>Aerial Photography</h3> 
                </div>
              </div>
            </ion-checkbox>  
            <ion-checkbox class="choices" formControlName="pkg_isphotoedt" *ngIf="pitiquerData.ptqr_isphotogedt == 1">
              <div class="choices-content">
                <div class="image">
                  <ion-icon name="camera"></ion-icon>
                </div>
                <div class="text">
                 <h3>Aerial Photography + Edit</h3> 
                </div>
              </div>
            </ion-checkbox>  
            <ion-checkbox class="choices" formControlName="pkg_isvideog" *ngIf="pitiquerData.ptqr_isvideog == 1">
              <div class="choices-content">
                <div class="image">
                  <ion-icon name="camera"></ion-icon>
                </div>
                <div class="text">
                 <h3>Aerial Videography</h3> 
                </div>
              </div>
            </ion-checkbox>  
            <ion-checkbox class="choices" formControlName="pkg_isvideogedt" *ngIf="pitiquerData.ptqr_isvideogedt == 1">
              <div class="choices-content">
                <div class="image">
                  <ion-icon name="camera"></ion-icon>
                </div>
                <div class="text">
                 <h3>Aerial Videography + Edit</h3> 
                </div>
              </div>
            </ion-checkbox>  
            <ion-checkbox class="choices" formControlName="pkg_isamnty" *ngIf="pitiquerData.ptqr_isamnty == 1">
              <div class="choices-content">
                <div class="image">
                  <ion-icon name="camera"></ion-icon>
                </div>
                <div class="text">
                 <h3>Aerial Neighborhood Amenities</h3> 
                </div>
              </div>
            </ion-checkbox>  
            <ion-checkbox class="choices" formControlName="pkg_isamntyedt" *ngIf="pitiquerData.ptqr_isamntyedt == 1"> 
              <div class="choices-content">
                <div class="image">
                  <ion-icon name="camera"></ion-icon>
                </div>
                <div class="text">
                 <h3>Aerial Neighborhood Amenities + Edit</h3> 
                </div>
              </div>
            </ion-checkbox>  
            </div>
            <ion-row class="center">
              <ion-button fill="outline" expand="block" (click)="updatePackageData()" >Update Package</ion-button>
            </ion-row> <br>
        </ion-list>
      </form>
      </div>
      <div class="right-div"></div>
    </div>
  </ion-content>
</div>