<div class="pitique-header">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-row class="center">
        <ion-icon name="chevron-back-outline" class="back-button" (click)="navigateHome()"></ion-icon><ion-title>PITIQUER PROFILE</ion-title>
    </ion-row>
    </ion-toolbar>
  </ion-header>
  </div>
  

  <ion-content>
    <div class="container-div">
    <div class="left-div"></div>
    <div class="main-div" *ngIf="pitiquerData != null">
     <ion-row class="card" > 
        <ion-avatar class="card-avatar">
          <img alt="Pitique Profile Image" [src]="serverAPI + '/api/pitiquer/'+pitiquerData.ptqr_email+'/profileimage'"  />
        </ion-avatar>
        
        <ion-text class="card-name">{{pitiquerData.ptqr_fname}} {{pitiquerData.ptqr_mname}} {{pitiquerData.ptqr_lname}}</ion-text> 
        <span class="card-rating"><ion-icon name="star" class="card-star"></ion-icon> <span><ion-text>{{pitiquerData.rating}}</ion-text> <ion-text>({{pitiquerData.totalratings}})</ion-text></span></span>
      </ion-row>
      <br>
      
      <swiper-container style="width:100%;"
      (slidechange)="swiperSlideChanged($event)"
      [loop]="true"
      [pagination]="true"
      [zoom]="true" 
      >
        <swiper-slide *ngFor="let image of pitiquerData.images">
          <div class="swiper-zoom-container">
          <img alt="Silhouette of mountains" class="card-image" [src]="serverAPI + '/api'+'/pitiquer/'+ pitiquerData.ptqr_email + '/portfolio/' + image "
          loading="lazy" />
        </div>
        </swiper-slide>
   
       
      </swiper-container>
      <br>
      <div class="pitiquer-bio">
      <ion-text >
        <span *ngIf="pitiquerData.ptqr_bio != null;">  {{pitiquerData.ptqr_bio}}</span> 
        <span *ngIf="pitiquerData.ptqr_bio == null">No bio</span>
      </ion-text>
    </div>
      <br>
      <ion-title>
        Services Offered
      </ion-title>
      <br>
      <ion-chip *ngIf="pitiquerData.ptqr_photog == 1">
        <ion-label>Aerial Photography</ion-label>
      </ion-chip>
      <ion-chip *ngIf="pitiquerData.ptqr_photogedt == 1">
        <ion-label>Aerial Photography + Edit</ion-label>
      </ion-chip>
      <ion-chip *ngIf="pitiquerData.ptqr_videog == 1">
        <ion-label>Aerial Videography</ion-label>
      </ion-chip>
      <ion-chip *ngIf="pitiquerData.ptqr_videogedt == 1">
        <ion-label>Aerial Videography + Edit</ion-label>
      </ion-chip>
      <ion-chip *ngIf="pitiquerData.ptqr_isamnty == 1">
        <ion-label>Aerial Neighborhood Amenities + Edit</ion-label>
      </ion-chip>
      <ion-chip  *ngIf="pitiquerData.ptqr_isamntyedt == 1">
        <ion-label>Aerial Neighborhood Amenities</ion-label>
      </ion-chip>
      <br><br>
      <div class="button">
        <ion-button fill="solid" (click)="bookPitiquer(ptqr_id)">BOOK NOW</ion-button>
      </div>
    </div>
    
   

  </div>
    <div class="right-div"></div>
 
  </ion-content>

