swiper-container{
    width:100%;
    height:240px;

}

swiper-slide{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;

}
swiper-slide img{
    width: 100%; 
    height: 100%;
    object-fit: contain; 
}
.swiper{
    width:100%; 
}

.pitiquer-bio{
    margin:10px;
}
