
ion-button{
    box-shadow:none;
    --ion-background-color:none;
    background-color: none;
    color:#26CBDF;
}

.flex{
    width:100%;
}
.birthdate{
    width:350px;                                     
  
}

.birthdate-month{
    width:140px;
  }
  .birthdate-year{
    width:140px;
  }
  .birthdate-day{
    width:70px;
  }
