<app-loading *ngIf="isLoading"></app-loading>
<app-sidebar [page]="pageTitle"></app-sidebar>
<div class="ion-page" id="main-content">
  <div class="pitique-header">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <!-- <ion-menu-button></ion-menu-button> -->
          <ion-icon name="chevron-back-outline" class="back-button" (click)="navigateProfile()"></ion-icon>

        </ion-buttons>
        <ion-row class="center">
          <ion-title>Your Portfolio</ion-title>
        </ion-row>
      </ion-toolbar>

    </ion-header>
  </div>

  <ion-content class="ion-padding">
    <div class="container-div">
      <div class="left-div"></div>
      <div class="main-div">
        <div class="image-gallery" *ngIf="isSkeleton == true">

          <ion-skeleton-text class="gallery-skeletons image-gallery-item one" [animated]="true"></ion-skeleton-text>
          <ion-skeleton-text class="gallery-skeletons image-gallery-item two" [animated]="true"></ion-skeleton-text>
          <ion-skeleton-text class="gallery-skeletons image-gallery-item three" [animated]="true"></ion-skeleton-text>
          <ion-skeleton-text class="gallery-skeletons image-gallery-item four" [animated]="true"></ion-skeleton-text>
          <ion-skeleton-text class="gallery-skeletons image-gallery-item five" [animated]="true"></ion-skeleton-text>
          <ion-skeleton-text class="gallery-skeletons image-gallery-item six" [animated]="true"></ion-skeleton-text>
          <ion-skeleton-text class="gallery-skeletons image-gallery-item seven" [animated]="true"></ion-skeleton-text>
        </div>
        <div class="image-gallery" *ngIf="isSkeleton == false">
          <ion-thumbnail class="image-thumbnail" *ngFor="let portfolioImage of portfolioImages" >
            <ion-fab (click)="alertDeleteImage(portfolioImage)">
              <ion-fab-button>
                <ion-icon name="trash"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <img alt="Portfolio image"
              [src]="serverAPI + '/api'+'/pitiquer/'+ pitiquerEmail + '/portfolio/' + portfolioImage "
              loading="lazy" />
          </ion-thumbnail>
          <ion-thumbnail class="add-thumbnail" (click)="addPhoto() ">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-thumbnail>

        </div>

      </div>
      <div class="right-div"></div>
    </div>
  </ion-content>
</div>