<app-loading *ngIf="isLoading"></app-loading>
<app-sidebar [page]="pageTitle"></app-sidebar>
<div class="ion-page" id="main-content">
  <div class="pitique-header">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <!-- <ion-menu-button></ion-menu-button> -->
          <ion-icon name="chevron-back-outline" class="back-button" (click)="navigateProfile()"></ion-icon>

        </ion-buttons>
        <ion-row class="center">
          <ion-title>Your Packages</ion-title>
        </ion-row>
      </ion-toolbar>

    </ion-header>
  </div>

  <ion-content class="ion-padding">
    <div class="container-div">
      <div class="left-div"></div>
      <div class="main-div">
        <div class="empty-package" *ngIf="packages.length<1">
          <h1>You have no packages</h1>
        </div>
        <div *ngFor="let package of packages">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{package.pkg_name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{package.pkg_desc}}
            </ion-card-content>
            <ion-button fill="clear" (click)="viewPackage(package.pkg_id)">View</ion-button>
            <ion-button fill="clear" (click)="deletePackage(package.pkg_id)" id="present-deletealert">Delete</ion-button>
          </ion-card>
        </div>

        <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="addPackage()">
          <ion-fab-button>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>

      </div>
      <div class="right-div"></div>
    </div>
  </ion-content>
</div>