/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";



.center-container{
        display: flex;
        justify-content: center; 
        align-items: center;    
        height: 100vh;       
        overflow: scroll;
}

.center{
  justify-content:center;
}

.center-h{
  display: flex;
  justify-content: center; 
  align-items: center;    
  justify-content: space-evenly;
}

.center-div{
    width:100%;
    display:block;
}
//display flex
.flex{
  display:flex;
}
.birthdate{
  display:flex;
  width:100%;
}
.birthdate-month{
  width:40%;
}
.birthdate-year{
  width:40%;
}
.birthdate-day{
  width:20%;
}


.form input{
  transition:0.3s ease-out;
  background-color: #fbfbfb;
  border:none;
  border:1px solid rgb(222, 222, 222);
  outline:none;
  font-size:1.3rem;
  width:350px;
  height:50px;
  margin:auto;
  text-indent: 10px;
  border-radius:5px;
}

.form input:focus{
  transition:0.3s ease-in;
  border:1px solid rgb(190, 190, 190);
}

.form ion-button{
  width:350px;
  height:50px;
  font-size:1.3rem;
 
}

.back-button{
  color:white;
  font-size:35px;
  margin-left:10px;
}

.link{
  color:#26CBDF;
  margin-left:5px;
}

//Header
.pitique-header ion-header{
  --ion-background-color:#26CBDF;
  border-bottom:30px solid #51D5E5;
  box-shadow:none;
}
.pitique-header ion-header ion-toolbar{
  height:80px;
  justify-content: center;
  width:100%;
  display:flex;
  align-items: center;
}
.pitique-header ion-header ion-toolbar ion-buttons{
  flex-basis:20%;
  width:20%;
}
.pitique-header ion-header ion-toolbar ion-searchbar{
  flex-basis:80%;
  width:80%;
}

.pitique-header ion-header ion-toolbar ion-title{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  color:white;
  text-align: center;
  
}

.card{
  display:flex;
  width:100%;
  justify-content: center; 
  align-items: center;    
  justify-content: space-evenly;
  margin-left:0;
  margin-right:0;
}

.card-avatar{

  // border-radius: 100%;
  // flex-basis:10%;
  // margin-right:10px;
  // width:30px;
  
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  border-radius: 50%; /* This makes the div circular */
  overflow: hidden; /* Hide any content that goes beyond the circular boundary */
  position: relative; /* For positioning the image */
}
.card-image{
  width:100%;

  object-fit: cover; /* Maintain aspect ratio and cover the entire div */

}
.card-name{
  flex-basis:50%;
  width:150px;
  white-space:break-spaces;
  font-size:90%;
}
.card-rating{
  flex-basis:30%;
  font-size:90%;
}

.card-avatar img{
  width: 100%; /* Make the image take up the entire circular div */
  height: 100%; /* Make the image take up the entire circular div */
  object-fit: cover; /* Maintain aspect ratio and cover the entire div */
  position: absolute; /* Position the image within the circular div */
  top: 0;
  left: 0;
}

.card-star{
  color:yellow;
}

.card-pin{
  color:red;
}

.pitique-bio{
  width:100%;
  padding:10px;
}
.container-div{
  width:100%;
  overflow: auto;
  height: 100vh; /* Example: set an appropriate height for scrolling */
}

.main-div{
  overflow: auto;
  height: 100vh; /* Example: set an appropriate height for scrolling */
}

/* Styles for PCs */
@media screen and (min-width: 768px) {
  .container-div{
    display:flex;
    width:100%;
    overflow: auto;
    height: 100vh; /* Example: set an appropriate height for scrolling */
  }
  .left-div{
   display:block;
   flex-basis:25%;
  }
  .main-div{
    flex-basis:50%;
    border-left:1px solid rgb(205, 205, 205);
    border-right:1px solid rgb(205, 205, 205);
    padding:10px;
    width:50%;
    overflow: auto;
    height: 100vh; /* Example: set an appropriate height for scrolling */
  }
  .right-div{
    display:block;
    flex-basis:25%;
  }
}

/* Styles for mobile devices */
@media screen and (max-width: 480px) {
  .container-div{
    display:block;
    width:100%;
    overflow: auto;
    height: 100vh; /* Example: set an appropriate height for scrolling */
  }
  .left-div{
    display:none;
  }
  .right-div{
    display:none;
  }
  .main-div{
    flex-basis:100%;
    border-right:none;
    border-left:none;
    padding:0;
    overflow: auto;
    height: 100vh; /* Example: set an appropriate height for scrolling */
 
  }
}


.button{
  width:350px;
  margin:auto;
  justify-content: center;
  height:50px;
}

.button ion-button{
  width:100%;
  height:50px;
  --color:white;
  box-shadow:none;
  --box-shadow:none;
  font-size:1.3rem;
}

ion-content{
  overflow: auto;
  height: 100vh; /* Example: set an appropriate height for scrolling */
}


.package-services{
  overflow-y:scroll;
}

.selected{
  color:#26CBDF;
}
.package-services .choices {
  width:100%;
  justify-content: center;
  margin-top:10px;
  margin-bottom:10px;
  padding:10px;
  border:1px solid rgb(187, 187, 187);
  border-radius:5px;
  background-color: #f2f2f2;
}

.package-services .choices .included{
  font-size:12px;

}
.package-services .included span{
  margin-inline:2px;
}
.package-services .checked{
  border:3px solid #26cbdf;
}

.package-services .choices .choices-content{
  display:flex;
  width:100%;
  margin-top:-20px;
  padding:10px;
  align-items: center;
}

.package-services .choices .choices-content .image{
  width: 30px; 
  height: 30px;
  border-radius: 100%; 
  overflow: hidden; 
  position: relative; 
  margin-right:10px;
}
.package-services .choices .choices-content .image img{
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  position: absolute; 
  top: 0;
  left: 0;
}

.package-services .choices .choices-content .text{
  display:block;
  width:90%;
  white-space: break-spaces;
}
.package-services .choices .choices-content .text p{
  margin-top:-10px;
}



.breadcrumbs{
  display:flex;
  width:100%;
  padding:10px;
  justify-content: center;
  align-items: center;
}
.form-notes{
  transition:0.3s ease-out;
  background-color: #fbfbfb;
  border:1px solid rgb(222, 222, 222);
  outline:none;
  width:350px;
  height:100px;
  font-size:1.3rem;
  margin:auto;
  text-indent: 10px;
  border-radius:5px;
}

.form-notes ion-textarea{
  width:100%;
  height:100%;
}



.form-location {
  position: absolute;
  left: -100%;
  width: 100%;
  transition: all 0.3s ease;
}

.form-location.active {
  left: 0;
}
.form-services.active {
  left: 0;
}

.hidden{
  transition:2s;
display:none;
}


.form-services{
  position: absolute;
  left: -100%;
  width: 100%;
  transition: all 0.3s ease;

  padding:10px;
  overflow-y:scroll;
}

.selected{
  color:#26CBDF;
}
.form-services .choices {
  width:100%;
  justify-content: center;
  margin-top:10px;
  margin-bottom:10px;
  padding:10px;
  border:1px solid rgb(187, 187, 187);
  border-radius:5px;
  background-color: #f2f2f2;
}

.choices .included{
  font-size:12px;

}
.included span{
  margin-inline:2px;
}
.checked{
  border:3px solid #26cbdf;
}

.form-services .choices .choices-content{
  display:flex;
  width:100%;
  margin-top:-20px;
  padding:10px;
  align-items: center;
}

.form-services .choices .choices-content .image{
  width: 30px; 
  height: 30px;
  border-radius: 100%; 
  overflow: hidden; 
  position: relative; 
  margin-right:10px;
}
.form-services .choices .choices-content .image img{
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  position: absolute; 
  top: 0;
  left: 0;
}

.form-services .choices .choices-content .text{
  display:block;
  width:90%;
  white-space: break-spaces;
}
.form-services .choices .choices-content .text p{
  margin-top:-10px;
}

.chosen-services-total{
  display:flex;
  width:100%;
  align-items:center;
  justify-content: space-around;
}


.form-schedule{
  position: absolute;
  left: -100%;
  width: 100%;
  transition: all 0.3s ease;

  padding:10px;
  overflow-y:scroll;
}
.form-schedule.active {
  left: 0;
}

.form-contact{
  position: absolute;
  left: -100%;
  width: 100%;
  transition: all 0.3s ease;

  padding:10px;
  overflow-y:scroll;
}
.form-contact.active {
  left: 0;
}
.form-review{
  position: absolute;
  left: -100%;
  width: 100%;
  transition: all 0.3s ease;

  padding:10px;
  overflow-y:scroll;
}
.form-review.active {
  left: 0;
}
.notificationIcon{
  font-size:21px;
}
.notificationClose{
  width:50px;
}